@media (max-width: 576px) {
	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

body, button, input, label, select, td, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

ul {
	padding-inline-start: 20px;
}

.row::before {
	content: none !important;
}

p span.title {
	font-weight: bold;
	padding: 20px;
}

a {
	font-weight:bold;
}

em {
	padding-left:6px;
	padding-right:35px;
	color:#659EC7
}
em::before {
	content:"[";
}
em::after {
	content:"]";
}

h4 {
	font-size: 18px;
	font-weight: bold;
	color: #555;
}
h5 {
	font-size:16px;
	font-weight:bold;
	margin: 0.3rem 0;
	line-height: 1rem;
	color: #555;
}
h5.headline {
	margin: 10px 0;
}

.btn {
	margin-bottom: 5px;
}

.MuiTab-textColorPrimary.Mui-selected {
	color: #337ab7;
}
	